* {
	/* border: 10px; */
	border-radius: 10px;
	font-family: JetBrainsMono NF Bold;
	font-weight: bold;
	font-size: 12px;
	min-height: 0;
}

window#waybar {
	background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
	margin-top: 6px;
	margin-bottom: 6px;
}
#custom-notification,
#backlight,
#pulseaudio,
#power-profiles-daemon,
#workspaces,
#window,
#clock,
#network,
#bluetooth,
#cpu,
#memory,
#battery,
#tray {
	background: rgba(30, 30, 40, 0.85);
	border: 1px solid rgba(255, 255, 255, 0.3);
	margin: 0 0px;
	padding: 0 10px;
}

/* #workspaces { */
/*     padding: 4 12px; */
/* } */

#workspaces button {
	padding: 0 6px;
	min-height: 0;
	border-radius: 11px;
}

#workspaces button.active {
	background: #b4a1ff;
	color: black;
}
#mpris {
	color: #cdd6f4;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	padding: 0 10px;
}

#mpris.paused {
	color: #6c7086;
}
